includes:
    - ../../vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - ../../app
    level: 8
    checkModelProperties: true
    ignoreErrors:
        - "#return type has no value type specified in iterable type array#"
